<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">


      <div class="form-group">
        <label for="username">Username</label>
        <input #txtUsernameOrEmail type="text" class="form-control" id="username"
               placeholder="Username or email address">
        <small class="form-text text-muted invalid-feedback">*******</small>

      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input #txtPassword type="password" class="form-control" id="password" placeholder="Password">
      </div>


      <button style="margin-top: 5px" type="submit" class="btn btn-primary"
              (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Sign-in
      </button>

  </div>
  <div class="col-md-4"></div>
</div>
